* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider input {
    margin-left: 19px;
    margin-top: 30px;
    padding: 60px;
}

.slides {
    display: flex;
    width: 300px;
    overflow: hidden;
}

.slide {
    width: 290px;
    margin: 20px;
    transition: .5s;
}

.choose_1:checked~.slides>.s1 {
    margin-left: 0rem;
}

.choose_2:checked~.slides>.s1 {
    margin-left: -20rem;
}

.choose_3:checked~.slides>.s1 {
    margin-left: -41rem;
}

.choose_4:checked~.slides>.s1 {
    margin-left: -59rem;
}

.choose_5:checked~.slides>.s1 {
    margin-left: -81rem;
}

.choose_6:checked~.slides>.s1 {
    margin-left: -101rem;
}

.choose_7:checked~.slides>.s1 {
    margin-left: -120rem;
}

button {
    height: 20px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
}