* {
    user-select: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(19, 113, 236);
}

h1 {
    font-size: 20px;
    margin: 10px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    margin: 5px;
    padding-bottom: 50px;
    padding-right: ;
    border-radius: 20px;
}

button {
    display: block;
    height: 35px;
    width: 260px;
    margin: 15px;
    border-radius: 15px;
    border: 0px solid;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 5px 2px gray;
    --animate-duration: 2s;
}

.container1 a {
    text-decoration: none;
    width: 260px;
}

button:hover {
    background-color: rgb(59, 176, 255);
    transition: 0.5s;
    animation: animate__animated animate__bounce animate__slow animate__repeat-1 animate__delay-1s;
}

p {
    padding-top: 30px;
    font-size: 9px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}