* {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient( rgb(24, 119, 242), rgb(255, 37, 204));
}

.container1 {
    margin: 40px;
    padding-bottom: 50px;
    padding-right: ;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

button {
    display: block;
    height: 35px;
    width: 260px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid;
    font-family: 'Bungee Spice', cursive;
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(59, 176, 255);
    width: 200px;
    transition: 1s;
}

p {
    padding-top: 30px;
    font-size: 8px;
}